.icon-box {
    text-align: center;
    .icon {
        font-size: 6.25rem;
        color: $primary;
        font-weight: 700;
        line-height: 0;
    }
    &.left {
        &.border {
            padding: 2rem;
        }
        text-align: left;
        [class*="px-"] {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
        [class*="py-"] {
            padding-bottom: 0 !important;
        }
        svg {
            margin-top: 0;
        }
    }
    &.right {
        &.border {
            padding: 2rem;
        }
        text-align: right;
        [class*="px-"] {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
        [class*="py-"] {
            padding-bottom: 0 !important;
        }
        svg {
            margin-top: 0;
        }
    }
    &.horizontal {
        text-align: left;
        display: flex;
        padding: 0 2rem;
        svg {
            flex: none;
        }
    }
    svg {
        width: 2.5rem;
        height: 2.5rem;
        margin-top: 2rem;
    }
}
.features-left-image-grid {
    .icon-box {
        &.horizontal {
            height: 100%;
        }
    }
}
.features-filled-grid {
    .icon-box {
        background-color: $secondary;
        color: #ffffff;
        &.horizontal {
            height: 100%;
        }
    }
    .col {
        &:nth-of-type(3n+1) {
            .icon-box {
                background-color: $primary;
            }
        }
    }
}
@media (max-width: 992px) {
    .features-left-image-grid {
       .img-fluid {
            width: 100%;
            height: 10rem !important;
            object-fit: cover;    
        }
    }
}