.navbar {
    .btn {
        width: 5.5rem;
        min-width: 5.5rem;
        height: 2rem;
        font-size: .8rem;
    }
    .navbar-nav {
        .nav-link {
            font-size: 0.875rem;
            font-weight: 500;
            color: $secondary;
        }
        .dropdown-toggle {
            display: flex;
            &:after {
                border: none;
                content: url(../images/chevrondown.svg);
            }
        }
    }
}
.header {
    .full-background-caption {
        padding-top: 5rem;
    }
    &.full-background {
        background-image: url(../images/headerFullBackground.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        .full-background-caption {
            padding-top: calc((100vh - 420px) / 2);
        }
    }
    &.half-background {
        background-image: url(../images/halfBackground.jpg);
        background-repeat: no-repeat;
        background-position: right;
    }
    &.half-background-shadowed {
        background-image: url(../images/halfBackground_02.jpg);
        background-repeat: no-repeat;
        background-position: right;
        .full-background-caption {
            padding-top: 8rem;
        }
    }
    &.background-pattern {
        background-image: url(../images/headerFullBackgroundPatternDevice.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    &.background-position-right {
        background-image: url(../images/headerFullBackgroundRight.jpg);
        background-repeat: no-repeat;
        background-position: right;
    }
    .background-hero {
        background-image: url(../images/headerBanner.jpg);
        background-size: cover;
        height: 38rem;
        .full-background-caption {
            padding: 2rem;
            right: 0;
            bottom: -5rem;
            border: 1px solid #DDDDDD;
            border-radius: 0.3rem;
            .h1 {
                line-height: 1;
            }
        }
    }
    .logo {
        width: 6.25rem;
    }
    .play-btn {
        width: 4.5rem;
        height: 4.5rem;
        min-width: fit-content;
    }
}
@media (min-width: 992px) {
    h1, .h1 {
        font-size: 4.5rem !important;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) { 
    .header {
        &.half-background {
            background-size: cover;
        }
    }
}
@media (max-width: 1199px) {
    .header {
        .navbar-collapse {
            position: absolute;
            width: 100%;
            top: 4rem;
            background-color: rgb(255, 255, 255);
            padding: 1rem 0px;
            z-index: 1;
        }
    }
}
@media (max-width: 575.98px) {
    .header {
        &.no-background {
            padding-bottom: 4rem;
            height: auto !important;
        }
        .row {
            flex-direction: column;
        }
        .full-background-caption {
            text-align: center;
            padding-top: 3rem;
        }
        .background-hero {
            .full-background-caption {
                padding: 1rem;
                bottom: unset;
                top: 5rem;
            }
        }
        &.half-background-shadowed {
            .full-background-caption {
                color: #ffffff;
            }
        }
    }
}
