// bootstrap's overwritten variables
$theme-colors: (
    "primary":   #FD5545,
    "secondary":  #333333,
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1170px
) ;
$font-family-sans-serif: 'Source Sans Pro';
$body-color: #333333;
$font-size-base: 1rem;
$headings-font-weight: 700;
$form-group-margin-bottom: 1.5rem;
$form-grid-gutter-width: 1.5rem;

// Theme independent variables
$primary: #FD5545;
$secondary: #333333;
$muted: #6c757d;
$btn-border-color: #D6D6D6;