@font-face {
  font-family: 'Source Sans Pro';
  src: url('./fonts/SourceSansPro-Regular.ttf');
  font-weight: 400;
  font-style: normal ;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: url('./fonts/SourceSansPro-Bold.ttf');
    font-weight: 700;
    font-style: normal ;
  }
@import "sass/variables";
@import "sass/header";
@import "sass/features";
.btn {
    min-width: 10rem;
}
.btn-small {
    min-width: 7.625rem;
}
.btn-outline-primary {
    &.btn-ghost {
        border-color: $btn-border-color;
    }
}
.p-6 {
    padding: 0.875rem;
}
.m-6 {
    margin: 0.875rem;
}
.list-group-border-0 {
    .list-group-item {
        border: 0;
        padding: 0;
        background-color: transparent;
    }
    .img-thumbnail {
        border: 0;
        padding: 0.125rem;
    }
}
.icon-list-group {
    .icon {
        width: 1.125rem;
        height: 1.125rem;
    }
}
.check-list-group {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    svg {
        margin-right: 0.625rem;
    }
}
.card {
    .card-subtitle {
        margin-bottom: 0.5rem;
    }
}
.footer {
    .bullet-list {
        .nav-link::before {
            content: "•";
            color: $primary;
            position: absolute;
            left: 0;
        }
    }
    .card {
        p {
            margin-bottom: 0.5rem;
        }
    }
    .icon-bullets {
        svg {
            flex: none;
        }
    }
}
.CTA {
    .custom-file {
        width: 7rem;
        height: 100%;
    }
    .custom-file-label{
        margin-bottom: 0;
        padding: 0;
        height: 100%;
        display: flex;
        align-items: center;
        border: none;
        &:after {
            content: "Attach file" !important;
            color: $primary;
            font-weight: 700;
            padding: 0 0.5rem;
            position: relative;
            height: auto;
            background-color: transparent;
            border: none;
        }
    }
}
.pricing-box {
    &.Basic, &.basic {
        .check-list-group {
            li {
                &:nth-of-type(n+2) {
                    color: $muted;
                }
            }
        }
    }
    &.Standard, &.standard, &.Optimal, &.optimal {
        .check-list-group {
            li {
                &:nth-of-type(n+4) {
                    color: $muted;
                }
            }
        }
    }
    &.Professional, &.professional {
        .check-list-group {
            li {
                &:nth-of-type(n+5) {
                    color: $muted;
                }
            }
        }
    }
    &.popular-tag, .popular-tag{
        background-color: $primary;
        color: #ffffff;
        .text-primary, .text-secondary {
            color: #ffffff !important;
        }
        .btn {
            background-color: #ffffff;
            color: $primary;
        }
        .popular {
            left: 1rem;
            top: 0.625rem;
        }
    }
}
.team-block {
    .card-img-hover {
        cursor: pointer;
        .card-img-overlay {
            display: none;
            background-color: rgba(253,85,69,0.9);
        }
        &:hover {
            .card-img-overlay {
                display: flex;
            }
        }
    }
}
.FAQ {
    .nav-tabs {
        .nav-link {
            border: none;
            color: rgba(51,51,51,0.5);
            &:focus {
                outline: none;
            }
        }
        .nav-item {
            margin-bottom: 0;
        }
    }
    .accordion > .card:not(:last-of-type) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        margin-bottom: 1rem;
    }
    .card {
        h4 {
            margin-bottom: 0;
        }
    }
    .card-header {
        border-bottom: 0;
        padding: 1.25rem 2rem;
        position: relative;
        background-color: transparent;
        button {
            border: none;
            padding: 0;
            background: none;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            right: 2rem;
            &:focus {
                outline: none;
            }
        }
        .open {
            &:after {
                content: '\2212';
                color: $primary;
                font-size: 1.76rem;
            }
        }
        .close {
            &:after {
                content: "\002B";
                color: $primary;
                font-size: 1.76rem;
            }
        }
    }
    .card-body {
        padding: 1.25rem 2rem;
    }
    &.bottom-border-only {
        .accordion > .card:not(:last-of-type) {
            margin-bottom: 0;
        }
        .card {
            border-right: 0;
            border-left: 0;
            border-top: 0;
        }
    }
}
.testimonials {
    .card-img-null {
        max-width: 10.875rem;
        margin: auto;
    }
    .card-img-left {
        max-width: 144px;
        object-fit: contain;
        margin: auto;
    }
    .carousel-indicators {
        margin-bottom: 0;
        li {
            opacity: 1;
            background-color: #EFEFEF;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            border-top: none;
            border-bottom: none;
            &.active {
                background-color: $primary;
            }
        }
    }
    .carousel-control-prev, .carousel-control-next {
        width: auto;
    }
    &.testimonial-container {
        .position-absolute {
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            display: flex;
            align-items: center;
        }
    }
}
@media (min-width: 992px) {
    h2, .h2 {
        font-size: 3.5rem !important;
    }
    .h2-secondary-size {
        font-size: 2.5rem !important;
    }
    .testimonials {
        .carousel-control-prev {
            left: -3rem;
        }
        .carousel-control-next {
            right: -3rem;
        }
    }
}
@media (max-width: 575.98px) {
    .btn {
        width: 9.625rem;
    }
    .form-inline {
        .btn {
            width: 100%;
            margin-top: 1rem;
        }
    }
}
